body{
    padding: 1200 x 675px;
    background-color: var(colors-bg, #3b3f45);

}

.header {
width: min(90%, 1200px);
margin: auto;
}

.container ul {
    width: min(90%, 1200px);
    margin: 0 auto;  
}


.first1 {
    background-color: var(--colors-gray-secondary, #4a4f56);
    height: 122px;
    border-radius: 15px;
}

h1{
    text-align: center;
    color: var(--text-headings, #ff8984);
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: 391px;
    margin-left: 391px;

}
p {
    text-align: center;
    color: var(--text-headings, #ff8984);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    margin-top: 23px;
    margin-bottom: 23px;
    margin-right: 391px;
    margin-left: 391px;

}

.container ul li {
    margin-top: 40px;
    background-color:var(--colors-purple-regular, #88839e);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 3px solid #88839e;
    border-bottom: 3px solid #88839e;

}


.container ul li::after{
    background-color: var(colors-bg, #3b3f45);
}

 



button {
    margin-top: 40px;
    color: #ff8984;
    background-color: var(--colors-gray-secondary, #4a4f56);
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 3px solid yellow;
    border-bottom: 3px solid yellow;
    border-right: 3px solid yellow;
    border-left: 3px solid yellow;
} 
 .button1 {
    width: min(90%, 1200px);
    margin: 0 auto;  
    text-align: center;
    height: 65px;
 }

/*input[type=checkbox] {
    display: none;
}

input[type=checkbox]+label::before {
    content:"";
    display: inline-block;
    width: 28px;
    aspect-ratio: 1;
    background-color: var(--var-text-color);
    border: 1px solid var(--var-text-color);
    position: absolute;
    left: 15px;
}


/*.custom_checkbox:checked + label::after {
    content:"";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 3px;
    top: 17px;
    background-color: #9b96ac;
    transition: all .1s ease-in;
}


.header{
    background-color: var(--colors-gray-secondary, #4a4f56);
    width: 1200px;
    height: 122px;
    align-items: center;
    
}